[Unit]
Description=Matrix-pseudoskärmsläckare efter viss tid

[Service]
Type=oneshot
ExecStart=/home/antsva/.local/bin/screensaver.sh
KillMode=process

[Install]
WantedBy=default.target
