*credentials* filter=crypt diff=crypt merge=crypt
secrets filter=crypt diff=crypt merge=crypt
tm-pts.sh filter=crypt diff=crypt merge=crypt
accounts.conf filter=crypt diff=crypt merge=crypt
rclone.conf filter=crypt diff=crypt merge=crypt 
digikamrc filter=crypt diff=crypt merge=crypt
muttrc filter=crypt diff=crypt merge=crypt
nextcloud.cfg filter=crypt diff=crypt merge=crypt
okularrc filter=crypt diff=crypt merge=crypt
.goldendict/config filter=crypt diff=crypt merge=crypt
*.keyring filter=crypt diff=crypt merge=crypt
