{ 
	email {$EMAIL}
}

(security) {
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-Robots-Tag "none"
        X-Permitted-Cross-Domain-Policies "none"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "no-referrer-when-downgrade"
    }   
}

libreddit.{$DOMAIN} {
	reverse_proxy libreddit:8080
	import security
	basicauth /* {
		{$LIBREDDIT_USER} {$LIBREDDIT_PASSWORD}
	}
}

nextcloud.{$DOMAIN} {
	reverse_proxy {$IP}:4444
	header Strict-Transport-Security max-age=31536000; # Nextcloud does not need the whole security block	
	redir /.well-known/carddav /remote.php/carddav 301
	redir /.well-known/caldav /remote.php/caldav 301
}

nitter.{$DOMAIN} {
	reverse_proxy nitter:8080
	import security
	basicauth /* {
		{$NITTER_USER} {$NITTER_PASSWORD}
	}
}

photos.{$DOMAIN} {
	reverse_proxy photoprism-app:2342
	# reverse_proxy librephotos-proxy:80
	import security
}

yt.{$DOMAIN} {
	reverse_proxy invidious-app:3000
	import security
	basicauth /* {
		{$INVIDIOUS_USER} {$INVIDIOUS_PASSWORD}
	}
}
