{ 
	email {$EMAIL}
}

(security) {
	header {
		Strict-Transport-Security max-age=31536000;
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer-when-downgrade
	}
}

gotify.{$DOMAIN} {
	reverse_proxy gotify:5657
	import security
}

jellyfin.{$DOMAIN} {
	reverse_proxy jellyfin:8096
	import security
}

tm.{$DOMAIN} {
	reverse_proxy terraforming-mars:8080
	import security
	basicauth /* {
		{$TM_USER} {$TM_PASSWORD}
	}
}

nextcloud.{$DOMAIN} {
	reverse_proxy 192.168.1.94:4444
	header Strict-Transport-Security max-age=31536000; # Nextcloud behöver endast detta (snarare än hela "security"-blocket)	
	redir /.well-known/carddav /remote.php/carddav 301
	redir /.well-known/caldav /remote.php/caldav 301
}
