{ 
	email {$EMAIL}
}

(security) {
	header {
		Strict-Transport-Security "max-age=31536000;"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		X-Robots-Tag "none"
		X-Permitted-Cross-Domain-Policies "none"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "no-referrer-when-downgrade"
		# Content-Security-Policy "default-src 'none'; object-src 'none'; base-uri 'self'; frame-ancestors 'none'; img-src https:; font-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'none'; form-action 'self'; worker-src 'none'; frame-src https://youtube-nocookie.com;"
	}
}

gotify.{$DOMAIN} {
	reverse_proxy gotify:5657
	import security
}

jellyfin.{$DOMAIN} {
	reverse_proxy jellyfin:8096
	import security
}

tm.{$DOMAIN} {
	reverse_proxy terraforming-mars:8080
	import security
	basicauth /* {
		{$TM_USER} {$TM_PASSWORD}
	}
}

nextcloud.{$DOMAIN} {
	reverse_proxy 192.168.1.94:4444
	header Strict-Transport-Security max-age=31536000; # Nextcloud does not need the whole security block	
	redir /.well-known/carddav /remote.php/carddav 301
	redir /.well-known/caldav /remote.php/caldav 301
}
