[Desktop Entry]
Version=1.0
Type=Application
Name=scli
Comment=Terminalklient för Signal
Icon=signal-desktop
Exec=kitty --class "scli" scli
Terminal=false
Categories=Network;InstantMessaging
