[Desktop Entry]
Version=1.0
Type=Application
Name=Spotify
Comment=Terminalklient för Spotify
Icon=Spotify
# Exec=spt
Exec=kitty --class "ncspot" ncspot
Terminal=false
Categories=Audio;Player;Music
